/* App.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.profile-picture {
  display: flex;
  align-items: center; /* Horizontally align items */
}

.profile-picture svg {
  margin-right: 10px; /* Adjust as needed */
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields label {
  margin-bottom: 5px;
}

.input-fields input {
  margin-bottom: 10px;
}

.user-buttons {
  display: flex;
  gap: 1rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px; /* Adjust the padding as needed */
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.big-button {
  padding: 10px 20px; /* Adjust button padding as needed */
  font-size: 18px;
}

.footer {
  margin-top: auto; /* Ensure footer is pushed to the bottom */
  display: flex; /* Use flexbox to align items */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  background-color: #333;
  color: white;
  padding: 1rem;
}

